#navbarSupportedContent ul li a:hover{
  color: #ffc107;
  text-decoration: none;
}


#header{
    background-image: url("../img/bg-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.img-card{
    height: 250px;
}

#contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }